*{
text-align:center;
margin-bottom:30px;
background-color: palevioletred;
}


.header h1{
font-size:32px;
color:#222;
}


.product-grid{
display:flex;
gap:20px;
overflow-x:auto;
}


.product-card{
min-width:230px;
background:#70e7f5;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
overflow:hidden;
transition:0.4s;
}


.product-card:hover{
transform:translateY(-8px);
}


.product-card img{
width:100%;
height:260px;
object-fit:cover;
}


.product-info{
padding:15px;
}


.brand{
font-size:13px;
color:#777;
font-weight:600;
}


.name{
font-size:15px;
margin:6px 0;
font-weight:600;
}


.price{
display:flex;
gap:8px;
align-items:center;
}


.current{
font-weight:700;
color:#1a237e;
}


.original{
text-decoration:line-through;
font-size:13px;
color:#888;
}


.discount{
background:#e53935;
color:#fff;
font-size:12px;
padding:3px 6px;
border-radius:4px;
}